@import '/src/variables.scss';

.layout {
    margin: 0 auto;
    width: 900px;
    // height: 100%;
    border-top: $common-padding;
    border-left: $common-padding;
    border-right: $common-padding;
    // padding: 20px 20px 20px 0px;
    // border: 1px black solid;
}